/*datatable*/

table {
    svg[class*="fa"] {
        font-size: 18px;
    }
}

svg[class*="fa"] {
    margin-right: 5px;
}





/*end of datatable*/

.w-50 {
    width: 50%;
}

.content-header h2 {
    font-size: 20px;
}

.content {
    min-height: auto;
}
