/*datatable*/
table svg[class*="fa"] {
    font-size: 18px;
}

svg[class*="fa"] {
    margin-right: 5px;
}

/*end of datatable*/
.w-50 {
    width: 50%;
}

.content-header h2 {
    font-size: 20px;
}

.content {
    min-height: auto;
}

.box-body {
    position: relative;
}

.form-profile .form-group {
    width: 74%;
}

.my-dropzone {
    border: 1px solid #d2d6de;
    min-height: 250px;
    width: 100%;

}

.dropzone.dz-clickable {
    cursor: pointer;
}



.summary {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 70%;
}

.summary div {
    margin-right: 15%;
    display: block;
    font-weight: 600;
}

.selected-row {
    background-color: #00C0EF;
    color: black;
}

.detail-row {
    cursor: pointer;
}

.primary .my-pT-summary {
    padding-top: 105px;
}

.form-control.select2 .select2-container--classic,
.select2-selection--single,
.select2-selection__rendered {
    line-height: 35px !important;
}

.my-mb-15 {
    margin-bottom: 15px;
}

.modal {
    overflow: visible;
    z-index: 111;
    margin-top: 40px;
}

.primary-color {
    color: #00C0EF;
}

.dropzone-wrapper {
    margin-bottom: 25px;
}
