  /* Navigation*/
  .navbar {
      background-color: transparent;
  }

  .scrolling-navbar {
      transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  footer.page-footer {
      background-color: #16397e;
  }

  /* Necessary for full page carousel*/
  html,
  body,
  .view {
      height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
      height: 100%;
  }

  .carousel-inner {
      height: 100%;
  }

  .carousel-item:nth-child(1) {
      background-image: url('../img/slider_image1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }

  .carousel-item:nth-child(2) {
      background-image: url('../img/slider_image2.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }

  .carousel-item:nth-child(3) {
      background-image: url('../img/slider_image3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }

  .info-header {
      width: 50%;
      margin: 100px auto;
  }

  .card-header {

      background-color: #16397e;
      color: white;
      font-weight: bold;
  }

  .btn-secondary {
      background-color: #122E65 !important;
  }

  .bg-dark {
      background-color: #122E65 !important;
  }
